<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Jua" rel="stylesheet">
  <script type="text/javascript" src="src/scripts/angular.min.js"></script>
</head>
<body ng-app="ticTacToe">
  <h1>Tic Tac Toe</h1>
  <div ng-controller="GameController as gameCtrl" class="board">
    <div ng-repeat="tile in gameCtrl.tiles track by $index" ng-click="gameCtrl.disabled || gameCtrl.userMove($index)" class="tile"><span>{{tile.content}}</span></div>
    <div ng-if="gameCtrl.winner" class="winner">{{gameCtrl.winner}} wins!</div>
  </div>
</body>
</html>